header.header
    .container 
        .container__inner 
            .header__link 
                a.header__link-item(href='https://visatoyou.com/#help') Преимущества
                a.header__link-item(href='https://visatoyou.com/#about') Обо мне
                a.header__link-item(href='https://visatoyou.com/#interview') Об интервью
