.header{
    position: fixed;
    top: 0;
    z-index: 100;
    background: #f0eef720;
    backdrop-filter: blur(2px);
    width: 100%;

    padding: 10px 0;
    @media (min-width: 768px){
        padding: 20px 0;
    }
    @media (min-width: 1280px){
        padding: 40px 0;
    }
    &__link{
        display: flex;
        
        justify-content:space-between;
        @media (min-width: 768px){
            justify-content: space-evenly;
        }
        &-item{
            font-weight: 400;
            font-size: 14px;
            @media (min-width: 768px){
                font-size: 17px;
            }
            @media (min-width: 1280px){
                font-size: 20px;
            }
        }
    }
}