.interview{
    &__title{
        margin-bottom: 20px;
        @media (min-width: 768px){
            margin-bottom: 35px;
        }
        @media (min-width: 1280px){
            margin-bottom: 50px;
        }
    }
    &__container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        @media (min-width: 768px){
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            // flex-wrap: wrap;
        }
        &-mobile{
            .interview__container-img{
                margin: 0;
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
            @media (min-width: 768px){
                display: none;
            }
        }
        &-tablet{
            display: none;
            @media (min-width: 768px){
                display: block;
            }
        }
        &-text{
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.03em;
            margin-bottom: 30px;
            @media (min-width: 768px){
                font-size: 19px;
                max-width: 840px;
                margin-left: 20px;
                margin-bottom: 0;
            }
            @media (min-width: 1280px){
                font-size: 22px;
            }
        }
        &-img{
            margin-bottom: 30px;
            @media (min-width: 768px){
                min-width: 360px;
                margin-bottom: 0;
            }
            img{
                width: 100%;
            }
        }
    }
}