section.interview#interview
    .container 
        .container__inner 
            h2.interview__title.title.h2-title Что вас ждет в гайде
            .interview__container-mobile
                .interview__container-img
                    img(src="/img/interview/1.png")
                .interview__container-img
                    img(src="/img/interview/2.png")
                .interview__container-img
                    img(src="/img/interview/3.png")
                .interview__container-img
                    img(src="/img/interview/4.png")
            .interview__container-tablet
                .interview__container-img
                    img(src="/img/interview/tablet.png")
            .interview__container-audio 
                audio(controls)
                    //- source( src="name.ogg" type="audio/1.m4a")
                    source( src="/audio/1.mp3")
                
                