//- .pay
//-     .container 
//-         .pay__container
//-             a#popup(href="#popup__pay" data-fancybox) окрыть попап
.popup__pay#popup__pay 
    #smart-button-container
        h2.popup__pay-title.h2-title Какой способ оплаты вам предпочтительней ?
        .pay__style 
            #paypal-button-container
        //- h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim vulputate eros.
