.about{
    background: #F0EEF7;
    &__title{
        margin-bottom: 20px;
        @media (min-width: 768px){
            margin-bottom: 35px;
        }
        @media (min-width: 1280px){
            margin-bottom: 50px;
        }
    }
    &__container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        @media (min-width: 768px){
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            // flex-wrap: wrap;
        }
        &-text{
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.03em;
            @media (min-width: 768px){
                font-size: 19px;
                max-width: 620px;
            }
            @media (min-width: 1280px){
                font-size: 22px;
            }
        }
        &-img{
            margin-bottom: 30px;
            @media (min-width: 768px){
                min-width: 360px;
                margin-bottom: 0;
                margin-left: 20px;
            }
            img{
                width: 100%;
            }
        }
    }
}