section.about#about
    .container 
        .container__inner 
            h2.about__title.title.h2-title Обо мне
            .about__container
                .about__container-text Привет, я Альбина, когда-то моя Америка началась с отказа в визе. Я тоже проходила интервью и сильно волновалась — боялась, что не пойму или неправильно пойму, что спрашивает визовый офицер, так как раньше я мало общалась с «настоящими американцами». Получите уверенность в день интервью — ведь вы без труда ответите на вопросы, которые много раз слышали!
                .about__container-img
                    img(src="/img/about/about.png")
