.form{
    &-bottom{
        background-image: url(/img/form__top/form__top.png);
        background-size: cover;
        &__content{
            background: #FFFFFF40;
            backdrop-filter: blur(2px);
            border-radius: 10px;
            margin: 0 -8px;
            padding: 34px 8px;
            @media (min-width: 768px){
                max-width: 840px;
                // width: 100%;
                padding: 34px 70px;
                margin: 0 auto;
            }
        }
        &__title{
            margin-bottom: 20px;
        }
        &__text{
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            margin-bottom: 24px;
            @media (min-width: 768px){
                font-size: 19px;
                margin-bottom: 20px;
            }
            @media (min-width: 1280px){
                font-size: 22px;
                letter-spacing: 0.03em;
                margin-bottom: 30px;
            }
        }
        &__prefix{
            display: flex;
            flex-direction: column;
            @media (min-width: 1280px){
                padding: 0 40px;
                margin-bottom: 14px;
            }
            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 17px;
                // margin-bottom: 10px;
                @media (min-width: 768px){
                    font-size: 17px;
                    line-height: 20px;
                    // margin-bottom: 20px;
                }
                @media (min-width: 1280px){
                    font-size: 22px;
                    line-height: 160%;
                    // margin-bottom: 33px;
                }
                span{
                    // font-weight: 500;
                    font-size: 25px;
                    line-height: 30px;
                    margin-left: 17px;
                    @media (min-width: 1280px){
                        font-size: 40px;
                        line-height: 49px;
                    }
                }
            }

        }
        &__container{
            @media (min-width: 768px){
                padding: 0 40px;
            }
            input{
                width: 100%;
                font-weight: 400;
                font-size: 25px;
                line-height: 30px;

                color: #2d2d2d;
                padding: 20px 30px;
                border: 1px solid #9F92E1;
                border-radius: 5px;
                margin-bottom: 20px;
                box-sizing: border-box;
                @media (min-width: 768px){
                    font-size: 20px;
                    line-height: 24px;
                }
                &::-webkit-input-placeholder{
                    color: #262626;
                }
                &:last-child{
                    margin-bottom: 30px;
                }
            }
            button{
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;

                color: #FFFFFF;
                padding: 20px 40px;
                background: #9F92E1;
                border-radius: 5px;
                @media (min-width: 768px){
                    font-size: 21px;
                    padding: 29px 50px;
                }
                @media (min-width: 1280px){
                    font-size: 25px;
                    padding: 37px 63px 35px;
                }
            }
        }
    }
    &__prefix{
        &-top{
            margin-bottom: 10px;
            @media (min-width: 1280px){
                margin-bottom: 18px;
            }
        }
        &-bottom{
            margin-left: auto;
            @media (min-width: 1280px){
                margin-right: 100px;
            }
            
            span{
                font-weight: 300;
                text-decoration: line-through;
            }
        }
    }
}