section.form-bottom#form-bottom
    .container 
        .container__inner
            .form-bottom__content
                h2.form-bottom__title.title.h2-title Приобрести гайд
                p.form-bottom__text Простой, понятный, и самое главное работающий гайд придёт к вам, сразу после оплаты.
                .form-bottom__prefix
                    p.form__prefix-top Купите гайд всего за <span>$10</span> 
                    p.form__prefix-bottom вместо <span>$15</span> 
                .form-bottom__container#form
                    form(action="")#form.form__container
                        input(type="text", name="name", placeholder='Имя')#txt_name
                        input(type="email", name="", placeholder='E-mail')#email
                        button(type="submit")#btn Купить гайд

            
            