extends layouts/default
include helpers/_mixins-default
include helpers/_mixins-custom

block variables
  - const title = "Собеседование в США"

block content
    include ../blocks/modules/header/header.pug
    include ../blocks/modules/main-top/main-top.pug
    include ../blocks/modules/help/help.pug
    include ../blocks/modules/about/about.pug
    include ../blocks/modules/interview/interview.pug
    include ../blocks/modules/form-bottom/form-bottom.pug
    include ../blocks/modules/pay/pay.pug
    include ../blocks/modules/footer/footer.pug

block scripts
  //- script( src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer")
  script(defer src="js/main.js")
  script(defer src="js/vendor.js")