section.main#main
    .container 
        .container__inner 
            .main__content
                h1.main__title.h1--title.title Как пройти собеседование
                p.main__prefix Аудио подготовка к&nbsp;интервью
                a(href="#form").main__btn.btn Хочу гайд

