.main{
    background-image: url(/img/main/bg.png);
    background-size: cover;
    padding: 50px 0 22px;
    @media (min-width: 768px){
        padding: 100px 0 150px;
    }
    @media (min-width: 1280px){
        padding: 140px 0 340px;
    }
    &__content{
        max-width: 730px;
        background: hsla(0, 0%, 100%, 0.251);
        backdrop-filter: blur(2px);
        border-radius: 20px;
        padding: 65px 0 70px 80px;
        @media (min-width: 768px){
            margin-left: auto;
        }
        @media (min-width: 1280px){
            padding: 60px 70px;
            
        }
        
    }
    &__title{
        margin-bottom: 12px;
        text-align: left;
        @media (min-width: 768px){
            margin-bottom: 16px;
        }
        @media (min-width: 1280px){
            margin-bottom: 20px;
        }
    }
    &__prefix{
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 38px;
        @media (min-width: 768px){
            font-size: 24px;
            margin-bottom: 44px;
        }
        @media (min-width: 1280px){
            font-size: 30px;
            margin-bottom: 50px;
        }
    }
    &__btn{
        background: #9F92E1;
        border-radius: 10px;

        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        padding: 20px 40px;
        @media (min-width: 768px){
            font-size: 21px;
            padding: 29px 50px;
        }
        @media (min-width: 1280px){
            font-size: 25px;
            padding: 37px 63px 35px;
        }
    }
}