.help{
    padding-bottom: 60px;
    @media (min-width: 768px){
        padding-bottom: 90px;
    }
    @media (min-width: 1280px){
            padding-bottom: 130px;
    }
    &__title{
        margin-bottom: 20px;
        @media (min-width: 768px){
            margin-bottom: 35px;
        }
        @media (min-width: 1280px){
            margin-bottom: 50px;
        }
    }
    &__text{
        margin-bottom: 20px;
        @media (min-width: 768px){
            margin-bottom: 35px;
        }
        @media (min-width: 1280px){
            margin-bottom: 45px;
        }
        li{
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.03em;
            color: #0D0D0D;
            @media (min-width: 768px){
                font-size: 19px;
            }
            @media (min-width: 1280px){
                font-size: 22px;
            }
        }
    }
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (min-width: 768px){
            flex-direction: row;
            justify-content: space-between;
            // flex-wrap: wrap;
        }
        &-item{
            margin-bottom: 23px;
            @media (min-width: 768px){
                width:31%;
                margin-bottom: 0;
            }
            @media (min-width: 1280px){
                width: 400px;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__item{
        &-logo{
            max-width: 100%;
            width: 137px;
            margin: 0 auto 20px;
            
            @media (min-width: 1280px){
                width: 152px;
            }
            img{
                width: 100%;
            }
        }
        &-subtitle{
            text-align: center;
            font-size: 16px;
            line-height: 140%;
            margin-bottom: 20px;
            @media (min-width: 768px){
                font-size: 19px;
                margin-bottom: 22px;
            }
            @media (min-width: 1280px){
                font-size: 22px;
            }
        }
        &-prefix{
            font-width:400;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.03em;
            color: #0D0D0D;
            @media (min-width: 768px){
                font-size: 19px;
            }
            @media (min-width: 1280px){
                font-size: 22px;
            }
        }
    }
    .for{
        &__content{
            text-align: center;
            margin-top: 40px;
        }
        &__title{
            text-align: left;
            font-weight: 500;
            font-size: 18px;
            line-height: 140%;
            color: #0D0D0D;
            margin-bottom: 10px;
            @media (min-width: 768px){
                font-size: 30px;
                margin-bottom: 50px;
            }
        }
        &__container{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin-bottom: 40px;
            @media (min-width: 768px){
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 10px;
            }
            &-item{
                text-align: left;
                box-shadow: 0px 38px 87px rgba(0, 0, 0, 0.04), 0px 14.31px 26.228px rgba(0, 0, 0, 0.0445054), 0px 7.75286px 10.8938px rgba(0, 0, 0, 0.0383885), 0px 5.00623px 3.94006px rgba(0, 0, 0, 0.0225087);
                border-radius: 7px;
                padding: 21px 18px;
                &:not(:last-child){
                    margin-bottom: 20px;
                }
                @media (min-width: 1280px){
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 400px;
                    font-size: 22px;
                    line-height: 160%;
                    letter-spacing: 0.03em;

                    color: #000000;
                    border-radius: 10px;
                    padding:36px 40px;
                    margin-bottom: 50px;
                    &:nth-child(4){
                        margin-left: auto;
                        margin-right: 20px;
                    }
                    &:nth-child(5){
                        margin-left: 20px;
                        margin-right: auto;
                    }
                    &:not(:last-child){
                        margin-bottom: 50px;
                    }
                }
            }
        }
        &__btn{
            display: inline-block;
            margin: 0 auto;
            background: #9F92E1;
            border-radius: 5px;
            text-align: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            padding: 20px 40px;
            @media (min-width: 768px){
                border-radius: 10px;
                font-size: 25px;
                padding: 37px 63px 35px;
            }
        }
    }
}