section.help#help
    .container 
        .container__inner 
            .help__content
                h2.help__title.h2--title.title Чем поможет мой гайд
                ul.help__text
                    li Простое и понятное руководство, как успешно пройти собеседование в консульстве США 
                    li ◦ Надоело искать вопросы, которые задают на интервью и гадать, как на них ответить 
                    li ◦ Не уверены, как произносится и звучат какие- то слова/вопросы
                .help__container 
                    .help__container-item
                        .help__item-logo
                            img(src="/img/help/item-1.svg", alt="")
                        h5.help__item-subtitle Аудио версии самых часто задаваемых вопросов
                        p.help__item-prefix Более 20 вопросов, собранных из множества источников
                    .help__container-item
                        .help__item-logo
                            img(src="/img/help/item-2.svg", alt="")
                        h5.help__item-subtitle Аудио версии рекомендуемых ответов
                        p.help__item-prefix Как отвечать, что говорить и о чем совсем не стоит говорить с офицером
                    .help__container-item
                        .help__item-logo
                            img(src="/img/help/item-3.svg", alt="")
                        h5.help__item-subtitle Доступ к файлу остается навсегда
                        p.help__item-prefix Практикуйте когда и сколько захотите, пока не научитесь понимать вопросы на слух
            .for__content
                .for__title Этот гайд для вас, если вы
                .for__container 
                    .for__container-item Хотите придти на интервью подготовленным
                    .for__container-item Хотите узнать какие вопросы чаще всего задают в консульстве
                    .for__container-item Хотите узнать, как лучше отвечать на вопросы
                    .for__container-item Хотите подготовится к разговору с иммиграционным офицером по прибытию в США
                    .for__container-item Хотите потренировать произношение и послушать диалоги на английском из уст первоисточников
                a(href="#form").for__btn.btn Мне нужен этот гайд
