.footer{
    background: #F0EEF7;
    width: 100%;
    padding: 30px 0 34px;
    @media (min-width: 1280px){
        padding: 70px 0 92px;
    }
    &__link{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        @media (min-width: 1280px){
            flex-direction:row;
        }
        &-item{
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #0D0D0D;
            @media (min-width: 1280px){
                &:last-child{
                    order: -1;
                }
                
            }
            &:not(:last-child){
                margin-bottom: 40px;
                @media (min-width: 1280px){
                    margin: 0;
                }
            }
        }
    }
}