footer.footer
    .container 
        .container__inner 
            .footer__link 
                a.footer__link-item(href='https://visatoyou.com/#help') Преимущества
                a.footer__link-item(href='https://visatoyou.com/#about') Обо мне
                a.footer__link-item(href='https://visatoyou.com/#interview') О гайде
                p.footer__link-item © 2022 by Albina Robertson 