block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title #{title}
    meta(name="theme-color" content="#fff")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="styles/main.css")
    link(rel="stylesheet" href="https://use.typekit.net/nxw0mbz.css")
    script( type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js")
    script( src="https://www.paypal.com/sdk/js?client-id=ASuHCQSk7oCLWw-CG4-XB4y1ND7Y1yoV49XgPIMfjEqiYhAwe3RREYCz1FerQP-cjpiEpMd9X3wh5NJY&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory")

    //- script( src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js")
    //- script( src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer")
    //- script( src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js")
    //- link( rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")

  body
    block content
    block scripts
