@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// @font-face {
//     font-family: "Montserrat";
//     src: url("../fonts/Montserrat-Light.ttf") format("ttf");
//     font-display: swap;
//     font-style: normal;
//     font-weight: 300;

// }


// @font-face {
//     font-family: "Montserrat";
//     src: url("../fonts/Montserrat-Regular.ttf") format("ttf");

//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }


// @font-face {
//     font-family: "Montserrat";
//     src: url("../fonts/Montserrat-Medium.ttf") format("ttf");
//     font-weight: 768;
//     font-style: normal;
//     font-display: swap;
// }


// @font-face {
//     font-family: "Montserrat";
//     src: url("../fonts/Montserrat-Bold.ttf") format("ttf");
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }

