body{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
div{
    box-sizing: border-box;
}
.container{
    // width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    @media (min-width: 768px){
        padding: 0 30px;
    }
    @media (min-width: 1280px){
        padding: 0;
        width: 1280px;
    }
    &__inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
a,p,span,div,h1,h2,h3,h4,h5,button,ul,li,input{
    line-height: 120%;
    letter-spacing: normal;
    color: #0D0D0D;
    text-transform: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    outline: none;
    border: 0;
    background: none;
    list-style: none;
}
a,button{
    cursor: pointer;
}

.h1--title{
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    @media (min-width: 768px){
        font-size: 40px;
        line-height: 50px;
    }
    @media (min-width: 1280px){
        font-size: 70px;
        line-height: 85px;
    }
}

.title{
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #0D0D0D;
    @media (min-width: 768px){    
        font-size: 30px;
        line-height: 35px;
    }
    @media (min-width: 1280px){
        font-size: 50px;
        line-height: 61px;
    }
}
section{
    padding: 40px 0; 
    @media (min-width: 768px){
        padding: 55px 0; 
    }
    @media (min-width: 1280px){
        padding: 70px 0; 
    }
}
.wrapper{
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: space-around;
    .footer{
        margin-top: 25vw;
    }
}